<footer>
    <ul class="footer_inner dtwrap">
        <li>
            <p class="footer_submenuTitle">INFORMATION</p>
            <ul class="footer_submenu">
                <li>
                    <a href="new.html">最新消息</a>
                </li>
                <li>
                    <a href="#">最新商品</a>
                </li>
            </ul>
        </li>
        <li>
            <p class="footer_submenuTitle">CONCETP</p>
            <ul class="footer_submenu">
                <li>
                    <a href="#">保養品介紹</a>
                </li>
                <li>
                    <a href="#">彩妝介紹</a>
                </li>
            </ul>
        </li>
        <li>
            <p class="footer_submenuTitle">LINE UP</p>
            <ul class="footer_submenu">
                <li>
                    <a href="productlist.html">商品總覽</a>
                </li>
                <li>
                    <a href="#">保養系列</a>
                </li>
                <li>
                    <a href="#">基礎底妝</a>
                </li>
                <li>
                    <a href="#">彩妝用具</a>
                </li>
                <li>
                    <a href="#">美容飲品</a>
                </li>
            </ul>
        </li>
        <li>
            <p class="footer_submenuTitle">SHOP</p>
            <ul class="footer_submenu">
                <li>
                    <a href="store.html">店舖資訊</a>
                </li>
            </ul>
        </li>
        <li>
            <p class="footer_submenuTitle">FOLLOW US</p>
            <ul class="footer_submenu">
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>
            </ul>
        </li>
        <li>
            <p class="footer_submenuTitle">SERVICE</p>
            <ul class="footer_submenu">
                <li>
                    <a href="#">隱私權保護</a>
                </li>
                <li>
                    <a href="#">使用指南</a>
                </li>
                <li>
                    <a href="#">客服中心</a>
                </li>
                <li>
                    <a href="#">免責聲明</a>
                </li>
                <li>
                    <a href="#">使用條款</a>
                </li>
            </ul>
        </li>
    </ul>
    <p class="copyRight">&copy; Celvoke</p>
</footer>