<header>
    <div class="header_inner dtwrap clearfix">
        
        <a href="#" class="btn_menu" title="menu"><img src="images/icons/menu.svg" alt="" title="menu"></a>
        
        <a href="default.html" class="logo" title="logo"><img src="images/icons/logo.png" alt="" title="celvoke"></a>

        <div class="header_mainFun">
            <ul class="header_icons clearfix">
                <li class="header_ig">
                    <a href="#" title="ig">
                        <img src="images/icons/ig.png" alt="" title="IG"> 
                    </a>
                </li>
                <li class="header_fb">
                    <a href="#" title="fb">
                        <img src="images/icons/fb.png" alt="" title="FB"> 
                    </a>
                </li>
                <li>
                    <a href="shoppingcart.html" title="shopping cart">
                        <img src="images/icons/cart.png" alt="" title="shopping cart"><span class="header_icons_txt">購物車</span>（<span>50</span>）
                    </a>
                </li>
                <li>
                    <a href="login.html" title="member">
                        <img src="images/icons/member.png" alt="" title="member"><span class="header_icons_txt">會員註冊/登入</span> 
                    </a>
                </li>
                <li class="header_search">
                    <a href="#" title="search" class="js-header-search">
                        <img src="images/icons/search.png" alt="" title="search">
                        <span class="header_icons_txt">SEARCH</span>
                    </a>
                </li>
                <li class="header_search_bar">
                    <input type="text">
                    <a href="#" title="search">
                        <img src="images/icons/search.png" alt="" title="search">
                    </a>
                </li>
            </ul>

            <nav>
                <ul class="clearfix">
                    <li>
                        <a href="news.html">NEWS</a>
                    </li>
                    <li>
                        <a href="about.html">ABOUT</a>
                    </li>
                    <li class="lineup">
                        <a href="#">LINE UP</a>
                        <div class="lineup_submenu">
                            <ul>
                                <li>
                                    <p>保養系列</p>
                                </li>
                                <li>
                                    <img src="images/assets/ABOUT-CONCEPT-AD-01.jpg" alt="">
                                </li>
                                <li>
                                    <a href="#">美容液</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p>基礎底妝</p>
                                </li>
                                <li>
                                    <img src="images/assets/ABOUT-CONCEPT-AD-02.jpg" alt="">
                                </li>
                                <li>
                                    <a href="#">眼線</a>
                                </li>
                                <li>
                                    <a href="#">遮瑕膏</a>
                                </li>
                                <li>
                                    <a href="#">粉餅</a>
                                </li>
                                <li>
                                    <a href="#">蜜粉</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p>重點彩妝</p>
                                </li>
                                <li>
                                    <img src="images/assets/ABOUT-CONCEPT-AD-01.jpg" alt="">
                                </li>
                                <li>
                                    <a href="#">眼線</a>
                                </li>
                                <li>
                                    <a href="#">唇膏</a>
                                </li>
                                <li>
                                    <a href="#">腮紅</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p>彩妝用具</p>
                                </li>
                                <li>
                                    <img src="images/assets/ABOUT-CONCEPT-AD-02.jpg" alt="">
                                </li>
                                <li>
                                    <a href="#">刷具</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <p>美容飲品</p>
                                </li>
                                <li>
                                    <img src="images/assets/ABOUT-CONCEPT-AD-01.jpg" alt="">
                                </li>
                                <li>
                                    <a href="#">美容飲</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="store.html">SHOP LIST</a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </div>
    <div class="carousel_text_wrap">
        <div class="carousel_text">
            <p>
                <a href="#">2018.05.11-summer makeup Collection 全國發售</a> 
            </p>
            <p>
                <a href="#">2018.06.11-summer makeup Collection 全國發售</a>
            </p>
            <p>
                <a href="#">2018.07.11-summer makeup Collection 全國發售</a>
            </p>
        </div>
    </div>
</header>
