<div class="offcanvas">
    <div class="offcanvas_wrap">
        <div class="offcanvas_searchWrap">
            <input type="text" placeholder="SEARCH">
            <a href="#" title="search" class="btn_offcanvasSearch"></a>
        </div>
        
        <ul class="touch_menu">
            <li>
                <a href="#" class="submenu_title">NEWS</a>
                <ul class="submenu">
                    <li>
                        <a href="newslist.html">最新消息</a>
                    </li>
                    <li>
                        <a href="#">最新商品</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="submenu_title">ABOUT</a>
                <ul class="submenu">
                    <li>
                        <a href="#">保養品介紹</a>
                    </li>
                    <li>
                        <a href="#">彩妝介紹</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="submenu_title">LINE UP</a>
                <ul class="submenu">
                    <li>
                        <a href="productlist.html">商品總覽</a>
                    </li>
                    <li>
                        <a href="#" class="submenu_title">保養品系列</a>
                        <ul class="submenu">
                            <li>
                                <a href="">保養品系列1</a>
                            </li>
                            <li>
                                <a href="#">保養品系列2</a>
                            </li>
                            <li>
                                <a href="#">保養品系列3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="submenu_title">基礎底妝</a>
                        <ul class="submenu">
                            <li>
                                <a href="">基礎底妝1</a>
                            </li>
                            <li>
                                <a href="#">基礎底妝2</a>
                            </li>
                            <li>
                                <a href="#">基礎底妝3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="submenu_title">彩妝用具</a>
                        <ul class="submenu">
                            <li>
                                <a href="">彩妝用具1</a>
                            </li>
                            <li>
                                <a href="#">彩妝用具2</a>
                            </li>
                            <li>
                                <a href="#">彩妝用具3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="submenu_title">美容飲品</a>
                        <ul class="submenu">
                            <li>
                                <a href="">美容飲品1</a>
                            </li>
                            <li>
                                <a href="#">美容飲品2</a>
                            </li>
                            <li>
                                <a href="#">美容飲品3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">SHOP LIST</a>
            </li>
        </ul>
    </div>
    <div class="offcanvas_bottomBtn clearfix">
        <a href="login.html" title="login">LOG IN</a>
        <a href="static.html" title="">SERVICE</a>
    </div>
</div>