<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PuYuan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F48C4DC14F2D303B5826FDEC7CE18EB48BB622CB</string>
				<key>dateExpires</key>
				<string>2019/8/7</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>24W666RFSM.com.eyeOnCare.v1</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>24W666RFSM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Glucon.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7d634592-600b-4d41-809d-ad88276be47c</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.eyeOnCare.v1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>24W666RFSM</string>
				<key>name</key>
				<string>RAYLIOS TECHNOLOGY INC.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
