<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Carwink.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>59D95D15B7BC8B6D3838500405AD029ED2CF1F5B</string>
				<key>dateExpires</key>
				<string>2020/8/4</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59D95D15B7BC8B6D3838500405AD029ED2CF1F5B</string>
						<key>dateExpires</key>
						<string>2020/8/4</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M554RGCP58</string>
						<key>name</key>
						<string>Innovart Design Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59D95D15B7BC8B6D3838500405AD029ED2CF1F5B</string>
						<key>dateExpires</key>
						<string>2020/8/4</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Zip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M554RGCP58</string>
						<key>name</key>
						<string>Innovart Design Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>59D95D15B7BC8B6D3838500405AD029ED2CF1F5B</string>
						<key>dateExpires</key>
						<string>2020/8/4</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDFULibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M554RGCP58</string>
						<key>name</key>
						<string>Innovart Design Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M554RGCP58.com.theinnovart.carwink.ios.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>M554RGCP58</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>M554RGCP58.com.theinnovart.carwink.ios.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Carwink.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e3165561-f502-4dc7-9701-47b1678cff9b</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.theinnovart.carwink.ios.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M554RGCP58</string>
				<key>name</key>
				<string>Innovart Design Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
